@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Rowdies:wght@300;400;700&display=swap');
*{
    font-family: "Merienda", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: rgb(176, 255, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    margin: 2rem;
}

#bodyIndex{
    background-image: url('img/trago.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    margin: 0; 
    padding: 0; 
    height: 100vh; 

}

/*---------------------- HEADER ----------------------------------*/

#logo_header img{
    width: 120px;
}

#header-principal{
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    padding: 30px 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.7s;
    position: fixed;
    z-index: 10;
}

#header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-principal .nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-principal .nav .nav-list{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-principal .nav .nav-list li{
    list-style: none;
}

#header-principal .nav .nav-list li a{
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

#header-principal .nav .nav-list li:hover{
    background-color: green;
}

.abrir-menu, .cerrar-menu{
    display: none;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

/* --------------BLOG---------------------- */

.publicacion{
    width: 50%;
    height: 50vh;
    background-color: rgb(218, 218, 218);
    margin: 0 auto;
    margin-bottom: 5em;
    text-align: center;
}

#blogheader{
    background-color: rgb(241, 240, 240);
    box-shadow: 0 0 10px rgb(206, 206, 206);
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 2em;
}

/* --------------ayuda---------------------- */

#ayudaheader{
    background-color: rgb(241, 240, 240);
    box-shadow: 0 0 10px rgb(206, 206, 206);
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 2em;
    color: black;
    padding-top: 2em;
    font-size: 20px;
}

#mainayuda{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    align-items: center;
    background-color: rgb(233, 226, 226);
}

.preguntaayuda{
    width: 90%;
    height: 2em;
    background-color: rgb(204, 202, 202);
    margin-bottom: 3px;
    text-align: center;
    color: black;
}

/* Promociones */
.card{
    background: rgb(125, 255, 212);
    width: 40em;
    height: 20em;
    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.card h3{
    margin: 1rem;
}

.card-promo{
    margin: 1rem;
    background: rgb(176, 255, 225);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5rem;
    height: 85%;
}
/* Noticias */
#noticias{
    margin-top: 10em;
    display: flex;
    flex-direction: row;
    height: 50vh;
    align-items: center;

}
.noticia{
    width: 30%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 5em;
    text-align: center;
    box-shadow: 0 0 10px whitesmoke;
}
/* --------------BOLETIN---------------------- */

#boletin{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;

}

#boletin h1{
    margin-bottom: 1em;
    color: #f8f8f8;
    text-shadow:  0 0 10px whitesmoke;;
}

/* --------------HISTORIAL---------------------- */
#historialheader{
    background-color: rgb(241, 240, 240);
    box-shadow: 0 0 10px rgb(206, 206, 206);
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 2em;
    color: black;
    padding-top: 2em;
    font-size: 20px;
}

#historial{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    align-items: center;
    background-color: rgb(233, 226, 226);
}

.compra{
    width: 90%;
    height: 2em;
    background-color: rgb(204, 202, 202);
    margin-bottom: 3px;
    text-align: center;
    color: black;
}

/* contacto.html formulario */

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}

/* acerca.html sobre nosotros */

#section-about{
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-text{
    font-size: 25px
}

#about-img img{
    width: 1000px;
    height: 600px;
}

/* index.html footer PIE DE PAgina */

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* seccion de productos index.html */

.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100px;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}

/* CARROUSEL */

.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-color: rgb(226, 50, 50);
}

#itemCarrousel-2{
    background-color: rgb(50, 200, 226);
}

#itemCarrousel-3{
    background-color: rgb(200, 226, 50);
}

.conteCarrouselController{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

.itemCarrouselArrows > a > i{
    color: white;
}

.itemCarrouselTarjeta{
    display: flex;
    justify-content: center;
}

.itemCarrousel img{
    width: 200px;
    height: 200px;
}