@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Rowdies:wght@300;400;700&display=swap');
*{
    font-family: "Merienda", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    background-color: rgb(176, 255, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    margin: 2rem;
}

#bodyIndex{
    background-image: url('img/trago.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    
    margin: 0; 
    padding: 0; 
    height: 100vh; 

}

/*---------------------- HEADER ----------------------------------*/

#header-principal{
    width: 100%;
    height: 70px;
    top: 0;
    left: 0;
    padding: 30px 20px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 0.7s;
    position: fixed;
    z-index: 10;
}

#header-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-principal .nav{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-principal .nav .nav-list{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-principal .nav .nav-list li{
    list-style: none;
}

#header-principal .nav .nav-list li a{
    position: relative;
    margin: 0 10px;
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;
}

#header-principal .nav .nav-list li:hover{
    background-color: green;
}

.abrir-menu, .cerrar-menu{
    display: none;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
    color: black;
}

/* --------------BLOG---------------------- */

.publicacion{
    width: 50%;
    height: 50vh;
    background-color: rgb(218, 218, 218);
    margin: 0 auto;
    margin-bottom: 5em;
    text-align: center;
}

#blogheader{
    background-color: rgb(241, 240, 240);
    box-shadow: 0 0 10px rgb(206, 206, 206);
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 2em;
}

/* --------------ayuda---------------------- */

#ayudaheader{
    background-color: rgb(241, 240, 240);
    box-shadow: 0 0 10px rgb(206, 206, 206);
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 2em;
    color: black;
    padding-top: 2em;
    font-size: 20px;
}

#mainayuda{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    align-items: center;
    background-color: rgb(233, 226, 226);
}

.preguntaayuda{
    width: 90%;
    height: 2em;
    background-color: rgb(204, 202, 202);
    margin-bottom: 3px;
    text-align: center;
    color: black;
}

/* Promociones */
.card{
    background: rgb(125, 255, 212);
    width: 40em;
    height: 20em;
    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.card h3{
    margin: 1rem;
}

.card-promo{
    margin: 1rem;
    background: rgb(176, 255, 225);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5rem;
    height: 85%;
}
/* Noticias */
#noticias{
    display: flex;
    flex-direction: row;
    height: 80vh;
    align-items: center;
    background-color: rgb(241, 241, 241);
}
.noticia{
    width: 30%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 5em;
    text-align: center;
}


/* --------------HISTORIAL---------------------- */
#historialheader{
    background-color: rgb(241, 240, 240);
    box-shadow: 0 0 10px rgb(206, 206, 206);
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 2em;
    color: black;
    padding-top: 2em;
    font-size: 20px;
}

#historial{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
    align-items: center;
    background-color: rgb(233, 226, 226);
}

.compra{
    width: 90%;
    height: 2em;
    background-color: rgb(204, 202, 202);
    margin-bottom: 3px;
    text-align: center;
    color: black;
}

/* contacto.html formulario */

.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.container-form .btn-enviar:hover{
    background: #e39403;
}