@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Rowdies:wght@300;400;700&display=swap');

* {
    font-family: "Merienda", cursive;
    margin: 0;
    color: #000000ee;
}


.main {
    height: 100%;
    background-color: rgb(176, 255, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    margin: 2rem;
}

#bodyIndex {
    background-image: url('img/trago.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;
    height: 100vh;

}

.publicacion {
    width: 50%;
    height: 50vh;
    background-color: rgb(218, 218, 218);
    margin: 0 auto;
    margin-bottom: 5em;
    text-align: center;
}

#blogheader {
    background-color: rgb(241, 240, 240);
    box-shadow: 0 0 10px rgb(206, 206, 206);
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 2em;
}


/* Promociones */
.card {
    background: rgb(125, 255, 212);
    width: 40em;
    height: 20em;
    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.card h3 {
    margin: 1rem;
}

.card-promo {
    margin: 1rem;
    background: rgb(176, 255, 225);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: .5rem;
    height: 85%;
}

/* Politicas */
#container {
    display: flex;
    flex-direction: column;
    margin: 0 12rem;
    margin-bottom: 2rem;
}

.part {
    padding: 2rem;
    background: rgb(125, 255, 212);

    border-radius: 1.5em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* Noticias */
#noticias {
    display: flex;
    flex-direction: row;
    height: 80vh;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.noticia {
    width: 30%;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    margin-bottom: 5em;
    text-align: center;
}